schedules:
  - tasks: [sort-series]
    interval:
      minutes: 15
web_server:
  bind: 0.0.0.0
  port: ${FLEXGET_WEB_PORT}
  web_ui: yes

tasks:
  sort-series:
    metainfo_series: yes
    accept_all: yes
    filesystem:
      path: /data/downloads/
      regexp: '.*\.(avi|mkv|mp4)$'
      recursive: yes
    move:
      to: "/data/media/{{series_name}}/Season {{series_season|pad(2)}}"
      rename: "{{ series_name }} - {{series_id}}{{location | pathext}}"
